---
import CenteredLayout from "../layouts/CenteredLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("posts", ({ data }) => {
	return data.draft !== true
})).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<CenteredLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<section class="py">
		<p class="text-sm pb-4">
			I enjoy writing about tech - from high-level concepts down to the nitty-gritty details, using Python, Go, Rust, and whatever else catches my interest.
		</p>
		<div class="space-y-1">
			{
				posts.map((post) => (
					<a
						class="flex flex-col my-1 p-2 rounded-md border border-border/40 hover:border-border/70 shadow-[inset_0_1px_0_rgba(255,255,255,0.05)] hover:bg-secondary transition-colors duration-200"
						href={`/posts/${post.id}/`}
					>
						<span class="text-muted-foreground text-xs tracking-tight">
							{post.data.pubDate.toLocaleDateString("en-us", {
								year: "numeric",
								month: "long",
								day: "numeric",
							})}
						</span>
						<span class="font-bold mt-0.5">
							{post.data.title}
						</span>
						{post.data.description && (
							<span class="text-xs text-muted-foreground mt-1">
								{post.data.description}
							</span>
						)}
					</a>
				))
			}
		</div>
	</section>
</CenteredLayout>
